* {
    margin: 0;
    padding: 0;
}

.form-control, .form-select {
    width: 25% !important;
}

body {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 100%;
    width: 100%; 
    background-image: url(../Images/fondo.webp);
    background-size: contain;
}

/* Navbar */

.logo {
    position: relative;
    width: 4.5em;
    height: 0;
    z-index: 4;
}
.logo .wrapper {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    border-radius: 100%;
    z-index: 1;
    border-bottom: 2px solid #F5A09D;
}
.logo img {
    width: 100%;
    padding: 0.9em;
    z-index: 3;
}

.navbar{
    border-bottom: 2px #F5A09D solid;
}
.nav li{
    font-family: 'Fjalla One', sans-serif;
    font-weight: bold;
}

.ancor-nav{
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
    font-size: 18px !important;
    color: black !important;
}

.ancor-nav:hover, .ancor-nav:focus {
    background-size: 100% 2px 
}


/* Carrusel */

.imagenes-Carrusel{
    z-index: 2;
    height: 65vh;
    object-fit: cover;
}

/* Main */

.title {
    margin-bottom: 50px;
    text-transform: uppercase;
}

.card-block {
    font-size: 1em;
    position: relative;
    margin: 0;
    padding: 1em;
    border: none;
    border-top: 1px solid rgba(34, 36, 38, .1);
    box-shadow: none;
}
.card {
    font-size: 1em;
    overflow: hidden;
    padding: 5;
    border: none;
    border-radius: .28571429rem;
    box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
    margin-top:20px;
}

.btn {
    margin-top: auto;
}

/* Formulario */

.contact_form{  
    width: 480px; 
    height: auto;
    margin: 80px auto;
    border-radius: 10px;  
    padding-top: 30px;
    padding-bottom: 20px;  
    background-color: #fbfbfb; 
    padding-left: 30px; 
    box-shadow: #f35e59 3px 3px 3px 3px;
}

input{
    background-color: #fbfbfb; 
    width: 408px; 
    height: 40px; 
    border-radius: 5px;  
    border-style: solid; 
    border-width: 1px; 
    border-color: #f27874; 
    margin-top: 10px;  
    padding-left: 10px;
    margin-bottom: 20px; 
}

.mascotas-Contenedor{
    display: table-column;
}

.input-Mascotas{
    width: 100px;
    height: 20px; 
}


textarea{
    background-color: #fbfbfb; 
    width: 405px; 
    height: 150px; 
    border-radius: 5px;  
    border-style: solid; 
    border-width: 1px; 
    border-color: #f27874; 
    margin-top: 10px;  
    padding-left: 10px;
    margin-bottom: 20px; 
    padding-top: 15px; 
}

label{
    display: block; 
    float: center;  
}

button{
    height: 50px; 
    padding-left: 5px;
    padding-right: 5px;   
    margin-bottom: 20px; 
    margin-top: 10px;   
    text-transform: uppercase;
    background-color: #fc7e7a; 
    border-color: #c44641; 
    border-style: solid; 
    border-radius: 10px;  
    width: 420px;   
    cursor: pointer;
}

button p{
    color: #fff; 
}

span{
    color: #c44641; 
}

.aviso{
    font-size: 13px;  
    color: #0e0e0e;  
}

h1{
    font-size: 39px; 
    margin-right: 2rem;
    text-align: center; 
    padding-bottom: 20px; 
    color: #f35e59;
}

h3{
    font-size: 16px; 
    padding-bottom: 30px;
    color: #0e0e0e;   
}

p{
    font-size: 14px; 
    color: #0e0e0e; 
}

.enviar{
    margin-top: 10px !important;
}

::-webkit-input-placeholder {
    color: #a8a8a8;
}

::-webkit-textarea-placeholder {
    color: #a8a8a8;
}

.formulario input:focus{
    outline:0;
    border: 1px solid #97d848;
}

.formulario textarea:focus{
    outline:0;
    border: 1px solid #97d848;
}


/* Footer */

.LogosFooter{
    width: 1rem;
    height: 1rem;
}
.LogosFooter>img{
    justify-items: center;
}
.botones{
    border-radius: 40%;
}

.enlaces{
    color: white !important;
}

footer{
    font-family: 'Poppins', sans-serif;
    margin-top: 3rem;
}

.sobreNosotros{
    color: #fff;
}


